/* 对部分CSS进行重新定义，或者修改 */

/* 拖拽的地方 */
.elements-container {
    min-height: 100px;
    height: auto;
    line-height: 20px;
    resize: vertical;
    border-radius: 15px;
}

/* 拖拽的内容 */
.draggable-element {
    cursor: move;
    font-size: 14px;
    line-height: 28px;
    margin: 5px 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    /* 颜色部分 */
    color: white;
    background-color: #0386b9 !important;
    border: 2px solid #00709c;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.kaede-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 28px;
    margin: 5px 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    /* 颜色部分 */
    color: white;
    border-radius: 2px;
    background-color: rgb(24, 26, 27) !important;
    border: 2px solid rgb(55, 60, 62);
}

.kaede-button:hover {
    cursor: pointer;
    font-size: 14px;
    line-height: 28px;
    margin: 5px 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    /* 颜色部分 */
    color: white;
    border-radius: 2px;
    background-color: #0386b9 !important;
    border: 2px solid #00709c;
}